<html>
<head>
<title>Angelzzz</title>
</head>
<body>
<a href="download/all">Download all data</a><br/>
<a href="download/last_day">Last Day</a><br/>
<a href="view/plot">Last 24 Hour Graph</a><br/>
Last Entry: {{ readout }}<br/>

</body>
</html>
